<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>



<h4>User Summary: <%= @user.username %></h4>
<h4>Joined Site <%= time_tag(@user.created_at.to_date) %></h4>
<h4>Product Table Would Go here: </h4>


<%= @user.username %>


<%= @user.findorder %>
