<h1>Orders Confirmation Page!!!! </h1>

<h3>Thank you for shoppping with us!</h3>
<h1>Order Details: </h1>
<p>Order ID: <%= @order.id%></p>
<p>Purchase Date: <%= time_tag(@order.created_at.to_date)%></p>

<!--
status
name 
shipping address
email -->
