/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
/* Custom bootstrap variables must be set or imported *before* bootstrap. */
@import "bootstrap";
/* Import scss content */
@import "**/*";


// --------------- HEADER NAV BAR STYLING ---------------
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.homepage h1 {
    font-weight: bolder;
}
.homepage h1 a {
    color: black;
}
header.homepage {
    text-align: center;
    background-color: darkgrey;
    padding-bottom: .5rem;
    padding-top: 1rem;
}
header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav li {
    margin-right: 10px;
    margin-left: 10px; 
}
nav li a{
    color: white;
}
nav div.right-nav {
    
    padding-top: .5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
nav div.left-nav {
    padding-top: .5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

div#separation-line {
    background-color:black;
    height: 2rem;
}
footer {
    text-align: center;
    font-size: 8px;
    margin-top: 1rem;
}
// --------------- HOMEPAGE STYLING ---------------
main.root {
    text-align: center;
}
.root h3 {
    padding-top: 2rem;
}
.root h6 {
    padding-top: 2rem;
}



