
<main class="root">
    <h3>Welcome to Toonsy Townsy </h3>
    <h5>Where you can fulfill all your cartoonsy dreams . . . </h5>
    <h6>Put some sort of spotlight product here:</h6>
    <img src="https://loremflickr.com/640/360" alt="placeholder image">
</main>

